<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>系统管理</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-nav-list>
    <mat-list-item [routerLink]="['/sys/module']" (click)="onNavClick()">
      <span>模块管理</span>
    </mat-list-item>
    <mat-list-item [routerLink]="['/sys/role']" (click)="onNavClick()">
      <span>权限管理</span>
    </mat-list-item>
    <mat-list-item [routerLink]="['/sys/dept']" (click)="onNavClick()">
      <span>部门管理</span>
    </mat-list-item>
    <mat-list-item [routerLink]="['/sys/user']" (click)="onNavClick()">
      <span>用户管理</span>
    </mat-list-item>
  </mat-nav-list>
</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>彩票管理</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-nav-list>
    <h3 mat-subheader>双色球</h3>
    <mat-list-item [routerLink]="['/lottery']" (click)="onNavClick()">
      <mat-icon mat-list-icon svgIcon="projects"></mat-icon>
      <span>走势图</span>
    </mat-list-item>
  </mat-nav-list>
</mat-expansion-panel>

